
•⁠  ⁠{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
    color: white;
    line-height: 1.4;
}

.container {
   position: relative;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 20px;
}

header h1 {
    color: #0085FF;
    font-family: monospace;
    font-size: 1.5em;
    line-height: 0.5em;
    font-weight: normal;
    margin-bottom: 20px;
}

h3 {
  font-family: monospace;
  font-weight: normal;
  color: #0085FF;
}

.title-section h2 {
    font-size: 2.25em;
    font-weight: normal;
    margin-bottom: 10px;
}

.title-section .last-updated {
    font-size: 0.875em;
    color: #aaaaaa;
    margin-bottom: 20px;
}

.authors-section,
.tags-section,
.abstract-section,
.objectives-section {
    margin-bottom: 20px;
}

.authors-section p,
.abstract-section p,
.objectives-section p {
    margin-bottom: 20px;
}

.abstract-section p,
.objectives-section p {
    font-size: 1.2em
}

.tags-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.tag {
    background-color: #0085FF;
    color: black;
    padding: 5px 10px;
    font-size: 0.875em;
    font-family: monospace;
}

footer {
    font-family: monospace;
    font-size: 0.875em;
    margin-top: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #aaaaaa;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.blue-line{
border-color: #0085FF;
}


